@use '../../styles/fonts' as *;
@use '../../styles/colors' as *;

.hero {
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    &__image {
        width: 50%;
        align-self: stretch
    }
    &__text {
        width: 40%;
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $TextColor;
    }
    &__name{
        @include header;
    }
    &__tag {
        @include header;
    }
    &__moto {
        @include header;
        font-size: 1rem;
        font-weight: 500;
    }
}

.react-tabs {
    &__tab-list {
        display: flex;
    }
    &__tab {
        width: 33.33%;
        list-style: none;
        padding: 0.5rem;
        @include header;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        border-bottom: none;
    &--selected {
        background: $TextColor;
        color: $MainBackground;
    }
    &:focus {
        outline: none;
    &:after {
        content: "";
        background: #fff;
        }
    }
    }
}
.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 1rem;
    gap: 2rem;
    background-color: $TextColor;
    &__portrait { 
        margin-left: auto;
        width: 90%;
        box-shadow: -1.875rem 3rem $MainBackground;
        margin-bottom: 5rem;
    }
    &__left {
        display: flex;
        flex-direction: column;
        width:50%;
    }
    &__left-text {
        @include header;
        color: white;
        font-size: 1.2rem;
        margin-left: 1rem;
    }
    &__right {
        width: 50%;
        padding: 1rem;
        background-color: $TextColor;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3rem;
    }
    &__heading {
        @include header;
        font-size: 1.5rem;
        color: white;
        background-color: $TextColor;
    }
    &__title {
        @include header;
        font-size: 1.2rem;
        color: white;
        background-color: $TextColor;
    }
}