@use '../../styles/fonts' as *;
@use '../../styles/colors' as *;
@use '../../styles/screens' as *;

.hero {
    width: 100%;
    display: flex; 
    flex-direction: column;
    @include tablet {
        padding: 3rem;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    @include desktop {
        justify-content: space-around;
    }
    &__image {
        width: 100%;
        position: relative;
        @include tablet {
            width: 50%;
            align-self: stretch;
            top: 0;
        }
    }
    &__text {
        text-align: center;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        color: $TextColor;
        margin: 1.5rem 0 1.5rem;
        width: 100%;
        @include tablet {
            width: 45%;
            align-self: center;
        }
        @include desktop {
            align-self: stretch;
            width: 45%;
            text-align: left;
            justify-content: space-between
        }
    }
    &__name{
        @include header;
        font-size: 1.5rem;
        @include desktop {
            width: 40%;
            font-size: 2.3rem;
            letter-spacing: 0.4rem;
        }
    }
    &__tag {
        @include header;
    }
    &__moto {
        @include header;
        font-size: 1rem;
        font-weight: 500;
    }
}

.react-tabs {
    &__tab-list {
        display: flex;
    }
    &__tab {
        width: 33.33%;
        list-style: none;
        padding: 0.5rem;
        @include header;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        border-bottom: none;
    &--selected {
        background: $TextColor;
        color: $MainBackground;
    }
    &:focus {
        outline: none;
    &:after {
        content: "";
        background: #fff;
        }
    }
    }
}
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 1rem;
    gap: 2rem;
    background-color: $TextColor;
    &__portrait { 
        margin: auto;
        width: 80%;
        box-shadow: -2rem 4rem $MainBackground;
        margin-bottom: 6rem;
    }
    &__left {
        display: flex;
        flex-direction: column;
        width:47%;
    }
    &__text {
        @include header;
        color: white;
        font-size: 1.2rem;
    }
    &__text-bottom {
        text-align: center;
        padding: 0 1rem;
    }
    &__right {
        background-color: $TextColor;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3rem;
        @include tablet {
            width: 47%;
            padding: 1rem;
        }
    }
    &__heading {
        @include header;
        font-size: 1.5rem;
        color: white;
        background-color: $TextColor;
    }
    &__title {
        @include header;
        font-size: 1.2rem;
        color: white;
        background-color: $TextColor;
    }
    &__restaurant {
        width: 90%;
        margin:auto
    }
    
}

.education {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    &__credentials {
        width: 20%;
    }
}