@use '../../styles/colors' as *;
@use '../../styles/screens' as *;
@use '../../styles/fonts' as *;

.footer {
    padding: 2rem;
    background-color: $TextColor;
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
        justify-content: space-around;
    }
}
.social {
    padding: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    background-color: $TextColor;
    &__icon {
        height: 4rem;
        width: auto;
    }
}
.contacts {
    background-color: $TextColor;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    &__text {
        @include header;
        font-size: 1.5rem;
        color: white;
        text-align: center;
    }
    &__link {
        @include header;
        font-size: 1.5rem;
        color: white;
        margin: auto;
    }
}