@use '../../styles/fonts' as *;
@use '../../styles/colors' as *;
@use '../../styles/screens' as *;


.projects {
    width: 100%;
    background-color: $TextColor;
    color: white;
    padding: 2rem 0;
    @include tablet {
        padding: 2rem;
    }
    &__heading {
        margin: 2rem;
        @include header;
        text-align: center;
    }
}
.project {
    border-bottom: 2px solid $MainBackground;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    @include desktop {
        flex-direction: row;
    }
    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
    }
    &__video {
        width: 90%;
        margin: auto;
        @include desktop {
            width: 50%;
        }
    }
    &__name {
        @include header;
        font-size: 1.5rem;
    }
    &__text {
        @include plain-text;
    }
    &__git-box {
        display: flex;
        flex-direction: column;
    }
    &__git-link {
        padding: 0.5rem;
        font-size: 1rem;
        color: white;
        text-decoration: none;
        justify-content: center;
        display: flex;
        align-items: center;
        gap: 1rem;
        @include plain-text;
    }
    &__git {
        width: 1.5rem;
    }
}
.industry {
    display: flex;
    flex-direction: column;
    &__video {
        width:100%;
        height: auto;
    }
}