@use '../../styles/colors' as *;
@use '../../styles/fonts' as *;
@use '../../styles/screens' as *;


.contact {
    background-color: $TextColor;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    &__form { 
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        @include desktop {
            margin: 2rem;
            width: 70%;
            align-items: flex-start;
        }
    }
    &__label {
        @include label;
        margin-top: 1rem;
    }
    &__heading {
        text-align: center;
        @include header;
        @include desktop {
            text-align: start;
            margin: 2rem;
        }
    }
    &__input {
        width: 80%;
        @include header;
        font-size: 1.5rem;
        font-weight: 300;
        padding: 0.5rem;
        border: none;
    }
    &__input:focus { 
        outline: none;
    }
    &__button {
        margin-top: 1rem;
        color: $TextColor;
        padding: 0.5rem 0 0.25rem;
        border: none;
        @include header;
        font-weight: 700;
        width: 80%;
        cursor: pointer;
        
    }
}